$font_family              : 'Montserrat', sans-serif;
$font_weight              : 400;
$line_height              : 1.5;

$ss_laptop                : 1339px;
$ss_tablet                : 1019px;
$ss_sm_tablet             : 699px;
$ss_phone                 : 529px;

$color_text               : #FFFFFF;
$color_primary            : #212E5A;
$color_secondary          : #8F95BC;
$color_border             : #7098FF;
$color_text-light         : #37AEFF;
$color_text-blur          : #BCC1E1;